extends ../layouts/default

block content
	#vegas
	.container.vegas-text 
		h1#vegas-text Consistency in performance, greater comfort and safety. 
	
	.container-color.section-margin
		.container: .section-header
			h2.dark-text who we are
			p Altius creates world-class sporting infrastructure, converting dust bowls into arenas of dreams. Oursynthetic grass sports surfaces,athletic tracks and sports flooring systems are accredited by allsports bodies. Our services include design, manufacture, construction, installation and maintenance.
			p simply call it the love of the sport.


	.ourproject.container-color.section-margin   
		.section-header
			h2.dark-text our projects
		.fancySlide
			section#dg-container.dg-container.mt-10
				.dg-wrapper
					a 
						img(width="473" height="343" src="bg1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image dg-left"  alt="projects-3" srcset="http://demotbs.com/dev/wp/altius/wp-content/uploads/2016/10/projects-3.jpg 473w, http://demotbs.com/dev/wp/altius/wp-content/uploads/2016/10/projects-3-300x218.jpg 300w" sizes="(max-width: 709px) 85vw, (max-width: 909px) 67vw, (max-width: 1362px) 88vw, 1200px")
						p.dg-left Modern School, Vasant Vihar, New Delhi
			
					
					a(style="z-index : 2;")
						img(width="473" height="343" src="bg2.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image dg-center" alt="projects-2" srcset="http://demotbs.com/dev/wp/altius/wp-content/uploads/2016/10/projects-2.jpg 473w, http://demotbs.com/dev/wp/altius/wp-content/uploads/2016/10/projects-2-300x218.jpg 300w" sizes="(max-width: 709px) 85vw, (max-width: 909px) 67vw, (max-width: 1362px) 88vw, 1200px")
						p Maharishi Markandeshwar University, Ambala, Haryana
					
					a 
						img(width="473" height="343" src="bg3.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image dg-right"  alt="projects-1" srcset="http://demotbs.com/dev/wp/altius/wp-content/uploads/2016/10/projects-1.jpg 473w, http://demotbs.com/dev/wp/altius/wp-content/uploads/2016/10/projects-1-300x218.jpg 300w" sizes="(max-width: 709px) 85vw, (max-width: 909px) 67vw, (max-width: 1362px) 88vw, 1200px")
						p.dg-right Venkateshwar International School, New Delhi
	section#works.works.section-margin
		.container
			.section-header
				h2.dark-text Portfolio
				h6 	We have designed and developed many awesome products. Just take a look. 
			.row.projects
				#loader
					.loader-icon
				#portfolio-list.col-lg-3
					.hovereffect
						img(width = "320" height = "200" src="/images/portfolio/1.jpg" class = ".img-responsive")
						.overlay
							.innertext
								h2 Synthetic Turf for Sports
				#portfolio-list.col-lg-3
					.hovereffect
						img(width = "320" height = "200" src="/images/portfolio/2.jpg" class = ".img-responsive")
						.overlay
							.innertext
								h2 Synthetic Turf for Leisure
				#portfolio-list.col-lg-3
					.hovereffect
						img(width = "320" height = "200" src="/images/portfolio/3.jpg" class = ".img-responsive")
						.overlay
							.innertext
								h2 Synthetic Turf for Children's Play Area
				#portfolio-list.col-lg-3
					.hovereffect
						img(width = "320" height = "200" src="/images/portfolio/4.jpg" class = ".img-responsive")
						.overlay
							.innertext
								h2 Athletic Tracks
				#portfolio-list.col-lg-3
					.hovereffect
						img(width = "320" height = "200" src="/images/portfolio/5.jpg" class = ".img-responsive")
						.overlay
							.innertext
								h2 PU Surface  for indoor and outdoor Sports
				#portfolio-list.col-lg-3
					.hovereffect
						img(width = "320" height = "200" src="/images/portfolio/6.png" class = ".img-responsive")
						.overlay
							.innertext
								h2 Interlocking tiles for Sports
				#portfolio-list.col-lg-3
					.hovereffect
						img(width = "320" height = "200" src="/images/portfolio/7.jpg" class = ".img-responsive")
						.overlay
							.innertext
								h2 Acrylic Surfaces
				#portfolio-list.col-lg-3
					.hovereffect
						img(width = "320" height = "200" src="/images/portfolio/8.png" class = ".img-responsive")
						.overlay
							.innertext
								h2 Indoor Flooring Surfaces
				#portfolio-list.col-lg-3
					.hovereffect
						img(width = "320" height = "200" src="/images/portfolio/9.png" class = ".img-responsive")
						.overlay
							.innertext
								h2 Indoor Sports Surfaces
				#portfolio-list.col-lg-3
					.hovereffect
						img(width = "320" height = "200" src="/images/portfolio/10.jpg" class = ".img-responsive")
						.overlay
							.innertext
								h2 Base Systems
				#portfolio-list.col-lg-3
					.hovereffect
						img(width = "320" height = "200" src="/images/portfolio/11.jpg" class = ".img-responsive")
						.overlay
							.innertext
								h2 Shock Pads
				#portfolio-list.col-lg-3
					.hovereffect
						img(width = "320" height = "200" src="/images/portfolio/12.jpg" class = ".img-responsive")
						.overlay
							.innertext
								h2 Sports Accessories
	.ourproject.container-color.section-margin   
		.section-header
			h2.dark-text our Partner
		.partnerImage:.container
			.col-md-4
				img(width="188" height="90" src="/images/part2.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="part-3" sizes="(max-width: 709px) 85vw, (max-width: 909px) 67vw, (max-width: 1362px) 88vw, 1200px")
			.col-md-4
				img(width="75" height="150" src="/images/part1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="part-3" sizes="(max-width: 709px) 85vw, (max-width: 909px) 67vw, (max-width: 1362px) 88vw, 1200px")
			.col-md-4
				img(width="188" height="90" src="/images/part3.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="part-3" sizes="(max-width: 709px) 85vw, (max-width: 909px) 67vw, (max-width: 1362px) 88vw, 1200px")					

	.factsProject.container-color.section-margin
		.section-header.bottm
			h2.dark-text Our Journey So Far
		.container
			.row
				.col-sm-4
					p In 2010, we installed our <strong>first FIH Global surface</strong> at GNDU, highlighting our passion for Hockey.The first multi field was inaugurated by stalwarts of Hockey in Kolkata in 2011. Apart from this, the first cricket wickets were also installed.

					p We built a massive playing structure on the <strong>rooftop of a school</strong> in Rajkot with supreme quality standards in 2012. The <strong>1st unlimited yarn warranty field for football</strong> in New Delhi using natural green infill was also completed.

					p 2013 became a testimony to another water-efficient field hockey and a host of multi installations with the <strong>civil team of Altius</strong> being formed.
				.col-sm-4
					.figPartner
						img(src="http://demotbs.com/dev/wp/altius/wp-content/uploads/2016/10/fact-1.jpg" alt="")
				.col-sm-4
					p The Liverpool Football Club International Academy as formed in Pune along with a kids’ playing area in Chennai along with an <strong>indoor gymnasium with lifetime warranty</strong> in 2014.

					p We forayed into <strong>athletic tracks with IAAF approved</strong> full pour track systems in 2015. Not only this, we brought JIO Gardens into existence in Mumbai, <strong>sprawling over 150,000 square feet</strong> for football and recreational use.

					p The <strong>FIFA Goal Project field</strong> was completed in 2016 at Tsirang, Bhutan; awarded the <strong>FIFA Project in Nepal</strong>. Multi installations took place for the turf a well as PU.
	.testimonial.section-margin
		.section-header.bottm.text-white
			h2.dark-text Happy Clients
		.container
			div(data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s").row.wow.fadeInRight.animated
				.col-md-12
					#client-feedbacks(style = "opacity: 1;display: flex;")
						.feedback-box.col-md-4
							.message “I would like to place on record mine and my organisation’s immense gratitude and thanks for the stupendous workmanship and exemplary performance shown by Altius Sports in completion of the “Raptors Field” in our school.<br> <br> An all-weather field is one of the most complex and technologically challenging projects in the whole gamut of operations in an  international school and Altius Sports has played a stellar role in partnering with AISC to make this a grandstanding success cutting across deadlines and various obstacles which are encountered in a project of such magnitude.”
							.client
								.quote.red-text <i class = 'fa fa-quote-left aisc-quote'></i>
								.client-info
									a(href = "").client-name Alankrit Arora
									.client-company	Director of Business Affairs,<br> American International School<br>Chennai


								.client-image.hidden-xs
									img(src = "/images/clients-pic/1.jpg" class = "client-img" alt = "")	 			
						.feedback-box.col-md-4
							.message “It is hereby committed that M/S Altius Sports, Kolkata who have successfully completed construction and maintenance of a world class football ground using Tiger Turf, have done us proud with their dedication and technical excellence with utmost professionalism. We have no doubt that their work has contributed very positively to the vision that we at the DSK Dream City, Pune have for the future of development of sports in India.<br><br>I wish them well in their future endeavours.”
							.client.client-dsk
								.quote <i class = 'fa fa-quote-left dsk-quote'></i>
								.client-info
									a(href = "").client-name Brig S K Sharma
									.client-company	Director &amp; CEO,<br> DSK Dream City,<br> Pune
								.client-image.hidden-xs
									img(src = "/images/clients-pic/2.jpg" class = "client-img" alt = "")	 			
						.feedback-box.col-md-4
							.message “On Behalf of Merlin Group, I would like to write a note of appreciation to the team of Tiger Turf - promoted by Altius Sports in India for providing us a fantastic all-weather synthetic grass surface at our new residential project.<br><br>Our residents are thoroughly enjoying the surface while at play and are also very happy with its performance. Moreover the surface also requires minimum maintenance which saves on our recurring cost.<br><br>We greatly appreciate the products that were given to us.”
							.client.client-merlin
								.quote<i class = 'fa fa-quote-left merin-quote'></i>
								.client-info
									a(href = "").client-name Dilip Choudhary
									.client-company	Director,<br> Merlin Projects Ltd.
								.client-image.hidden-xs
									img(src = "/images/clients-pic/3.jpg" class = "client-img" alt = "")	 									
	.certificate.container-color.section-margin
		.container
			.section-header
				h2.dark-text Our Certificate
			.partnerCertificate
				.col-md-3.image-margin
					a(href="#")
						img(src = "/images/Certificate/certificate-1.jpg")
				.col-md-3.image-margin
					a(href="#")
						img(src = "/images/Certificate/certificate-3.jpg")
				.col-md-3.image-margin
					a(href="#")
						img(src = "/images/Certificate/certificate-4.jpg")
				.col-md-3.image-margin
					a(href="#")
						img(src = "/images/Certificate/certificate-5.jpg")
				.col-md-3.image-margin
					a(href="#")
						img(src = "/images/Certificate/certificate-6.jpg")
				.col-md-3.image-margin
					a(href="#")
						img(src = "/images/Certificate/certificate-7.jpg")
				.col-md-3.image-margin
					a(href="#")
						img(src = "/images/Certificate/certificate-8.jpg")
				.col-md-3.image-margin
					a(href="#")
						img(src = "http://demotbs.com/dev/wp/altius/wp-content/uploads/2016/10/certificate-7.jpg")
	.container:.touch.section-margin
		.section-header.text-white
			h2.text stay in touch
			h6 Sign Up for Email Updates on News and Offers
		.touch-input
			input(type="text" placeholder = "Enter email").input-box
			button(type = "submit").btn.btn-md.btn-custom Submit																					